<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1, maximum-scale=1" />
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='./style.css')}}" />
        <style>
            body {
            background-color:#F0F0EB;
            }
        </style>


    </head>
    <body>
        <img src="/static/image/logo_skintree.png" style="margin-top: 20%; width:100%;">
        <form action="/submit_email" enctype="multipart/form-data" method="post">
            <input type="email" class="bigbutton" placeholder="이메일을 입력하세요" name="email">
            <button class="bigbutton" onclick="window.location.href='/Insert'">
                맞춤 추천받기
            </button>
        </form>
    </body>
</html>