{% extends "index.html" %}
{% block section %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>  
        function disableScroll() {
    // body 요소의 overflow를 hidden으로 변경하여 스크롤 비활성화
    document.body.style.overflow = 'hidden';
    }

    function enableScroll() {
    // body 요소의 overflow를 다시 visible로 변경하여 스크롤 활성화
    document.body.style.overflow = 'visible';
    }
    $(function(){
      $("#confirm").click(function(){
          //모달 닫기 함수 호출
          modalClose();
          enableScroll();
          //컨펌 이벤트 처리
      });
      $("#modal-open").click(function(){        
          $("#popup").css('display','flex').hide().fadeIn();
          disableScroll();
          //팝업을 flex속성으로 바꿔준 후 hide()로 숨기고 다시 fadeIn()으로 효과
      });
      $("#close").click(function(){
          modalClose(); //모달 닫기 함수 호출
          enableScroll();
      });
      function modalClose(){
          $("#popup").fadeOut(); //페이드아웃 효과
      }
    });
        </script>


<h2>기존에 사용하는 제품을 입력해주세요</h2>
<h4>입력하신 제품을 바탕으로 추천이 진행됩니다.</h4>


  <div class="modal-btn-box">
      <button type="button" class="bigbutton" id="modal-open">제품 입력하기</button><br><br>
  </div>
<!--
  <div class="insert_list">
    입력 리스트<br>
    
    <ul>
        <li style="margin-right: 10px;">★</li>
        <li style="margin-right: 10px;">제품 이름</li>
        <li><button class="deleteButton">삭제</button></li>
    </ul>
    
     <ul>
        <li style="margin-right: 10px;">★</li>
        <li style="margin-right: 10px;">제품 이름</li>
        <li><button class="deleteButton">삭제</button></li>
    </ul>
    
     <ul>
        <li style="margin-right: 10px;">★</li>
        <li style="margin-right: 10px;">제품 이름</li>
        <li><button class="deleteButton">삭제</button></li>
    </ul>   
  </div>

-->

<div class="insert_list">
  <table width="100%">
    <thead>
      <tr align="center">
        <th colspan="3">입력 리스트</th>
      </tr>
    </thead>
    <tbody align="left">
    {% for product in products %}
      <tr>
          <td>{% if product.fitness == 'Good' %}
                  <span style="color: blue;">★</span>
              {% elif product.fitness == 'Bad' %}
                  <span style="color: red;">★</span>
              {% else %}
                  <span style="color: black;">★</span>
              {% endif %}
          </td>
          <!--productID 출력말고 Name 으로 변경하기 -->
         <td class="pd_name">{{ product.productName }}</td>
         <td align="right"><button class="deleteButton" onclick="">삭제</button></td>
      </tr>
    {% endfor %}
   
    </tbody>
  </table>
  </div>
  <p>현재 이메일: {{ user_email }}</p>




<!-- 입력창 팝업 -->
<div class="container">
  <form action="/submit_item_post" enctype="multipart/form-data" method="post">
  <div class="popup-wrap" id="popup">
    <div class="popup">
          <div class="body-contentbox">
            <br><br>
            <p>입력하실 제품의 이름을 입력하세요</p><br>
            <div class="search">
              <input type="text" placeholder="화장품 이름으로 찾아보기">
            </div>
            <br>
            <p>본인에게 해당 제품의 적합여부를 입력하세요</p>
            <p>
              <button class="GnB_Button pop-btn confirm" id="confirm">적합</button>
              <button class="GnB_Button pop-btn close" id="close">부적합</button>
            </p>
          </div>
        <!-- 적합 부적합 버튼
        <div class="popup-foot">
           <span class="pop-btn confirm" id="confirm">적합</span>
           <span class="pop-btn close" id="close">부적합</span>
      </div>
      -->
     </div>
    </div>
    </form>
</div>

</div>

{% endblock section %}