{% extends "index.html" %}
{% block section %}
<script>
     let getLink = window.location.search;
        let getUserName = getLink.split('=');	//getLink를 '='를 기준으로 두 배열 요소로 분리
        let getOnlyName = getUserName[1];
        	//분리한 배열 중 두번째 요소 변수에 넣기
        let decodeName = decodeURI(getOnlyName)
        console.log(getUserName);
        console.log(getOnlyName);


        window.onload = function() {
            var urlParams = new URLSearchParams(window.location.search);
            var category = urlParams.get('category');
            if (category) {
                document.getElementById('categoryDisplay').innerText = "선택한 카테고리: " + decodeURIComponent(category);
            }
    }

    
</script>

<h1 style="color:#146E2C;">성분 프렌즈 추천 목록</h2>
<h5>최대 3개의 화장품이 추천됩니다</h6>
<div class="recommend_list">
    <ol>
        {% for i in most_similar_userID %}
        <li>{{i}}</li>
        {% endfor %}
    </ol>
</div>
<button class="bigbutton" onclick="window.location.href='/next?current_page={{ current_page }}'">다시 추천받기</button>

<div class="modal-btn-box">
    <button type="button" class="bigbutton" onclick="window.location.href='/Select_friend'">성분 프렌즈 살펴보기</button><br><br>
</div>





{% endblock section %}