{% extends "index.html" %}
{% block section %}

<head>
	<style>  
	
	</style>

	<script>
		function handleCategoryClick(category) {
			// 이 함수를 통해 선택한 카테고리의 이름을 변수로 전달할 수 있습니다.
			console.log("Selected category: " + category);
			// 여기서는 간단히 콘솔에 출력하도록 하였습니다.
			// 실제로는 이 변수를 원하는 대상에 전달하여 사용할 수 있습니다.
			// 예를 들어, 다른 함수를 호출하거나 서버에 데이터를 요청하는 등의 작업을 수행할 수 있습니다.
		}

		function sendCategory() {
            window.location.href = "/Recommend?user=" + userName;
		}

	</script>
</head>

<h2>
    원하는 카테고리를 선택해주세요
</h2><br>
	<div class="big_Category">
		<div id="cate_name">
			🌿 스킨케어
		</div>
		<div id="category">
			<ul>
				<li><a href="/Recommend?category=skin/toner" id="cate_link">스킨/토너</a></li>
				<li><a href="/Recommend?category=lotion" id="cate_link">로션</a></li>
				<li><a href="/Recommend?category=essence" id="cate_link">에센스/앰플</a></li>
				<li><a href="/Recommend?category=cream" id="cate_link">크림</a></li>
			</ul>
		</div>
	</div>
    
	<div class="big_Category">
		<div id="cate_name">
			<a href="/Recommend?category=cleansing" id="cate_link">🌿 클렌징/필링</a>
		</div>
	</div>

	<div class="big_Category">
		<div id="cate_name">
			<a href="/Recommend?category=mask" id="cate_link">🌿 마스크팩</a>
		</div>
	</div>

	<div class="big_Category" >
		<div id="cate_name">
			<a href="/Recommend?category=suncare" id="cate_link">🌿 선케어</a>
		</div>
	</div>
    {% endblock section %}